.App {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner{
  display: flex !important;
  height: 450px;
}

.item{
  max-height: 500px;
  min-width: 400px;
  height: 500px;
}

.item img{
  width: 100%;
  height: 90%;
  border-radius: 12px;
}

.carosel{
  overflow-x: auto;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: #e4e4e4;
  border-radius: 100px;
}
